<div fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="60px">
    <div fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="30px">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="title-sea">- {{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.TITLE' | translate}} -</h2>

            <img src="assets/images/sea.png" class="app-sub-img img-sea" height="400" alt="sea">
        </div>

        <div>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.SUB_TITLE' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.DESCRIPTION' | translate}}</p>
        </div>

        <div>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_TITLE' | translate}}</p>

            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_ITEM_1' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_ITEM_2' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_ITEM_3' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_ITEM_4' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_ITEM_5' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_ITEM_6' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_ITEM_7' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_ITEM_8' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_ITEM_9' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_ITEM_10' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.SEA.LIST_ITEM_11' | translate}}</p>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="30px">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="title-air">- {{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.AIR.TITLE' | translate}} -</h2>

            <img src="assets/images/air.png" class="app-sub-img img-air" height="400" alt="air">
        </div>

        <div>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.AIR.LIST_TITLE' | translate}}</p>

            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.AIR.LIST_ITEM_1' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.AIR.LIST_ITEM_2' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.AIR.LIST_ITEM_3' | translate}}</p>
            <p>{{'PAGES.TRANSPORTATION.INTERMODAL_AND_PROJECT_CARGO.AIR.LIST_ITEM_4' | translate}}</p>
        </div>
    </div>
</div>