<div fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="30px">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h2 class="title-truck">- {{'PAGES.TRANSPORTATION.TRUCK.TITLE' | translate}} -</h2>

        <img src="assets/images/truck.png" class="app-sub-img img-truck" alt="truck">
    </div>

    <div>
        <p>{{'PAGES.TRANSPORTATION.TRUCK.DESCRIPTION' | translate}}</p>
    </div>

    <div>
        <p>{{'PAGES.TRANSPORTATION.TRUCK.LIST_TITLE' | translate}}</p>

        <p>{{'PAGES.TRANSPORTATION.TRUCK.LIST_ITEM_1' | translate}}</p>
        <p>{{'PAGES.TRANSPORTATION.TRUCK.LIST_ITEM_2' | translate}}</p>
        <p>{{'PAGES.TRANSPORTATION.TRUCK.LIST_ITEM_3' | translate}}</p>
        <p>{{'PAGES.TRANSPORTATION.TRUCK.LIST_ITEM_4' | translate}}</p>
        <p>{{'PAGES.TRANSPORTATION.TRUCK.LIST_ITEM_5' | translate}}</p>
    </div>
</div>