<div fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="30px">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h2 class="title-railway">- {{'PAGES.TRANSPORTATION.RAILWAY.TITLE' | translate}} -</h2>

        <img src="assets/images/railway.png" class="app-sub-img img-railway" height="400" alt="railway">
    </div>

    <div>
        <p>{{'PAGES.TRANSPORTATION.RAILWAY.SUB_TITLE' | translate}}</p>
    </div>

    <div>
        <p>{{'PAGES.TRANSPORTATION.RAILWAY.LIST_TITLE' | translate}}</p>

        <p>{{'PAGES.TRANSPORTATION.RAILWAY.LIST_ITEM_1' | translate}}</p>
        <p>{{'PAGES.TRANSPORTATION.RAILWAY.LIST_ITEM_2' | translate}}</p>
        <p>{{'PAGES.TRANSPORTATION.RAILWAY.LIST_ITEM_3' | translate}}</p>
        <p>{{'PAGES.TRANSPORTATION.RAILWAY.LIST_ITEM_4' | translate}}</p>
        <p>{{'PAGES.TRANSPORTATION.RAILWAY.LIST_ITEM_5' | translate}}</p>
    </div>
</div>